/* 
list:
- underline-hov-transfrom-l-to-r
- custom-scrollbar
*/

.underline-hov-transfrom-l-to-r {
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.underline-hov-transfrom-l-to-r:after {
  display: block;
  content: "";
  border-bottom: solid 2px var(--brand);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.underline-hov-transfrom-l-to-r:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.custom-scrollbar::-webkit-scrollbar {
  opacity: 0;
  width: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 9999px;
  box-shadow: inset 0 0 16px 16px #64646436;
}
